/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



/* variables */
:root {
    --main-color: #e02f6b;
    --blue: #0000ff;
    --blue-dark: #18293c;
    --orange: #ffa500;
    --green-yellow: #cddc39;
    --pink-light: #efa2b4;
    --light-cyan: #aef1ee;
    --white: #fff;
    --white-alpha-40: rgba(255, 255, 255, .40);
    --white-alpha-25: rgba(255, 255, 255, .25);
    --backdrop-filter-blur: blur(5px);
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, var(--pink-light), var(--light-cyan));
    font-size: 16px;
    font-weight: 300;
    color: var(--blue-dark);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-top-highlight-color: transparent;
    padding: 5vh 15px;
    font-family: 'Poppins', sans-serif;;
}
body.hide-scrolling {
    overflow-y: hidden;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--green-yellow);
    z-index: -1;
    opacity: .12; 
    /* font-family: open sans; */
}
h1, h2 {
    font-weight: 600;
}
h3, h4, h5, h6 {
    font-weight: 500;
} 
section {
    background: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    min-height: 90vh;
    border-radius: 30px;
    backdrop-filter: var(--backdrop-filter-blur);
}
main {
    max-width: 1200px;
    margin: auto;
}
.container {
    padding: 0 40px;
    width: 100%;
}

/* Home Section */
.row {
    display: flex;
    flex-wrap: wrap;
}
.home-section {
    display: flex;
    padding: 0 120px;
}
.img-box img {
    width: 100%;
}
.align-items-center {
    align-items: center;
}
.hidden {
    display: none;
}
/* Buttons */
button {
    font-family: inherit;
    user-select: none;
}
.btn {
    line-height: 1.5;
    background: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color: #1e4842;
    text-transform: capitalize;
    font-size:16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    font-family: mulish;
    transition: color .2s ease;
}
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: var(--main-color);
    background: #1e4842;
    z-index: -1;
    border-radius: 30px;
    overflow: hidden;
    vertical-align: middle;
    transition: width .2s ease;
}
.btn:hover::before {
    width: 100%;
    border-radius: 30px;
}
.btn:hover {
    color: var(--white)
}

.home-text,
.home-img {
    width: 50%;
    padding: 15px;
}
.home-text p {
    font-size: 18px;
}
.home-text h1  {
    font-size: 50px;
    text-transform: capitalize;
}
.home-text h2 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.home-img .img-box {
    padding: .5rem;
    max-width: 360px;
    border-radius: 50%;
    background: var(--white-alpha-25);
    border: 8px solid var(--white-alpha-25);
    margin: auto;
}
.home-img .img-box img {
    width: 100%;
    border-radius: 50%;
}


/* About Section */

.about-img {
    width: 40%;
    padding: 0 1rem; 
}
.about-text {
    width: 60%;
    padding: 0 1rem;
}
.about-img .img-box {
    /* padding: .5rem; */
    max-width: 380px;
    background: var(--white-alpha-25);
    border: 8px solid var(--white-alpha-40);
    margin: auto;
    border-radius: 10px;
    display: flex;
}

/* section padding */
.section-padding {
    padding: 80px 0
}
.section-title {
    width: 100%;
    text-align: center;
    margin-bottom: 2.5rem;
}
.section-title h2 {
    font-size: 40px;
    text-transform: capitalize;
}
.about-text .skills {
    display: flex;
    flex-wrap: wrap;
}
.about-text h3 {
    margin: 2rem 0;
}
.about-text .skill-item {
    background: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    padding: 5px 15px;
    margin: 0 10px 10px 0;
    border-radius: 20px;
}
.about-tabs {
    margin-top: 20px;
}
.about-tabs .tab-item {
    padding: 2px 0;
    background: transparent;
    border: none;
    text-transform: capitalize;
    display: inline-block;
    color: var(--blue-dark);
    font-weight: 500;
    font-size: 20px;
    margin: 0 30px 0 0;
    cursor: pointer;
    position: relative;
    opacity: .5;
    transition: all .2s ease;
}
.about-tabs .tab-item:last-child {
    margin: 0;
}
.about-tabs .tab-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: var(--blue-dark);
    transition: width .2s ease;

} 
.about-tabs .tab-item:hover::before {
    width: 100%;
}
.about-tabs .tab-item.active::before {
    width: 100%;
    background: #1e4842;
}
.about-tabs .tab-item.active {
    color: #1e4842;
    opacity: 1;
    cursor: auto;
}
.about-text .timeline {
    position: relative;
}
.about-text .timeline::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    top: 0;
    left: 5px;
    background-color: #1e4842;
}
.about-text .tab-content {
    padding: 40px 0;
    display: none;
}
.about-text .tab-content.active {
    display: block;
}
.about-text .timeline-item {
    margin-bottom: 30px;
    position: relative;
    padding: 10px 0 0 40px;
}
.about-text .timeline-item::before {
    content: '';
    position:absolute;
    top: 16px; 
    left: 0;
    width: 11px;
    height: 11px;
    background: #1e4842;
    border-radius: 25px;
}
.about-text .timeline-item:last-child {
    margin-bottom: 0;
}

.about-text .timeline-item .date {
    display: block;
    color: #1e4842;
    font-weight: 400;
    margin: 0 0 10px;
}
.about-text .timeline-item h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin: 0 0 10px;

}
.about-text .timeline-item h4 span {
   font-weight: 400;
}
.about-text .btn {
    margin: 0 1rem 0 0rem;
}


/* Portfolio section start */
.portfolio-section {
    padding: 50px;
}
.portfolio-item-thumbnail img {
    width: 100%;
    border-radius: 10px;
}
.portfolio-item {
    width: calc((100% / 3) - 30px);
    margin: 0 15px 30px;
}
.portfolio-item-details {
    display: none;
}
.portfolio-item-thumbnail {
    padding: 10px;
    background: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius: 10px;
    display: flex;
}
.portfolio-item h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin: 20px 0;
}
/* Portfolio end */


/* Portfolio Popup */
.portfolio-popup {
    position: fixed;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    visibility: hidden;
}
.portfolio-popup.open {
    visibility: visible;
    overflow-y: auto;
}
.pp-thumbnail img {
    width: 100%;
    border-radius: 10px;
}
.pp-inner {
    min-height: 100vh;
    padding: 40px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pp-content {
    background: var(--white-alpha-25);
    padding: 30px;
    border-radius: 30px;
    max-width: 900px;
    width: 100%;
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter-blur);
}
.pp-header {
    position: relative;
}
.pp-header .btn {
    height: 50px;
    width: 50px;
    padding: 0;
    position: absolute;
    top: -50px;
    right: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pp-header h3 {
    font-size: 25px;
    text-transform: capitalize;
    margin: 20px 0 15px;
}
.pp-body .description  {
    margin-bottom: 20px;
}
.pp-body .general-info {
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: capitalize;
}
.pp-body .general-info li span {
    font-weight: 300;
}
.pp-body .general-info li span a {
    text-transform: lowercase;
    color: #1e4842;
}